*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
  text-align: center;
  padding-top:100px;
}

#tasks{
  text-align: center;
  color: purple;
  font-size: 18px;
  font-weight: bolder;
  padding:10px 0;

}

.insert{
  text-align: center;
  padding: 5px;
}

.click{
  cursor: pointer;
  padding: 5px;
  text-shadow: 0 0 10px #FF0000;
}
